.advantage {
  display: flex;
  flex-direction: column;
  text-transform: uppercase;
  color: @text-color-reverse;

  .advantage__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    margin: 0;
    background-color: @background-color-blue;
  }

  .advantage__title {
    margin: 0;
    padding: 0;
    padding-top: 38px;
    font-size: @main-font-size;
    line-height: 1.44;
    font-weight: bold;
  }

  .advantage__number {
    position: relative;
    font-size: @small-font-size;
    line-height: 1.5;
  }

  .advantage__description {
    margin: 0;
    padding: 0 29px 40px 29px;
    text-align: center;
    font-size: @small-font-size;
    line-height: 1.5;
  }

  .advantage__picture {
    img {
      display: block;
      background-color: #ebbea7;
    }
  }
}

.advantage__list {
  display: flex;
  flex-direction: column;
  list-style: none;
  margin: 0;
  padding: 0;
  color: @title-color;
  background-color: @background-color-grey;

  p {
    color: @text-color;
  }

  .advantage__title {
    margin: 0;
    padding: 0;
  }

  .advantage__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 33px;
  }
}

.advantage__item {
  &:nth-child(1)::after,
  &:nth-child(2)::after {
    content: "";
    display: block;
    width: 280px;
    height: 1px;
    background: #c4c4c4;
    margin: 0 auto;
  }
}

@media (min-width: @tablet-width) {
  .advantage {
    flex-direction: row;

    .advantage__wrapper {
      min-width: 260px;
    }

    .advantage__title {
      width: 155px;
      padding-top: 46px;
      text-align: center;
      font-size: @medium-font-size;
      line-height: 1.23;
    }

    .advantage__description {
      width: 162px;
      padding-top: 5px;
      padding-bottom: 45px;
    }
  }

  .advantages__item--bridge {
    .advantage__picture {
      order: -1;
      flex-grow: 1;
    }
  }

  .advantage__list {
    flex-direction: row;
    justify-content: space-around;
  }

  .advantage__item {
    min-width: 256px;

    &:nth-child(1)::after,
    &:nth-child(2)::after {
      display: none;
    }
  }
}

@media (min-width: @desktop-width) {
  .advantage {
    .advantage__wrapper {
      min-width: 400px;
    }

    .advantage__description {
      width: 285px;
    }
  }

  .advantage__item {
    min-width: 400px;
  }
}
