.contacts {
  legend {
    padding-top: 24px;
    padding-bottom: 19px;
  }

  .contacts__wrapper {
    display: flex;
    flex-direction: column;
    padding-bottom: 5px;

    .contacts__label {
      padding-left: 42px;
      text-transform: uppercase;
      text-align: left;
    }

    .contacts__input {
      flex-grow: 1;
      margin: 10px 20px 20px 20px;
      padding: 22px 0 22px 18px;
      height: 58px;
      box-sizing: border-box;
      font-family: "PT Sans", "Arial", sans-serif;
      font-size: @main-font-size;
      font-weight: bold;
      color: @title-color;
      background-color: @background-color-grey-form;
      border: 4px solid @background-color-grey-form;

      &::placeholder {
        font-size: @main-font-size;
        font-weight: bold;
        color: @title-color;
      }

      &:hover {
        background-color: @background-color-grey-form-hover;
        border: 4px solid @background-color-grey-form-hover;
      }

      &:focus {
        height: 58px;
        box-sizing: border-box;
        font-size: @main-font-size;
        font-weight: bold;
        background-color: @text-color-reverse;
        border: 4px solid @text-color-grey;
        outline: none;
      }
    }
  }
}

@media (min-width: @tablet-width) {
  .contacts {
    legend {
      position: relative;
      padding-top: 24px;
      padding-bottom: 19px;

      &::before {
        content: "";
        position: absolute;
        bottom: 33px;
        left: -185px;
        width: 125px;
        height: 1px;
        background-color: #e5e5e5;
      }

      &::after {
        content: "";
        position: absolute;
        bottom: 33px;
        right: -185px;
        width: 125px;
        height: 1px;
        background-color: #e5e5e5;
      }
    }

    .contacts__wrapper {
      display: flex;
      flex-direction: column;
      padding-bottom: 5px;
      min-width: 648px;

      .contacts__label {
        padding-left: 22px;
      }

      .contacts__input {
        flex-grow: 1;
        margin: 10px 0 20px 0;
      }
    }
  }
}

@media (min-width: @desktop-width) {
  .contacts {
    legend {
      position: relative;
      padding-top: 24px;
      padding-bottom: 19px;

      &::before {
        content: "";
        position: absolute;
        bottom: 33px;
        left: -185px;
        width: 125px;
        height: 1px;
        background-color: #e5e5e5;
      }

      &::after {
        content: "";
        position: absolute;
        bottom: 33px;
        right: -185px;
        width: 125px;
        height: 1px;
        background-color: #e5e5e5;
      }
    }

    .contacts__wrapper {
      display: flex;
      flex-direction: row;
      padding-bottom: 5px;

      .contacts__label {
        padding: 0;
      }

      .contacts__input {
        flex-grow: 0;
        margin: 10px 0 20px 0;
        padding: 22px 99px 22px 18px;
      }
    }
  }
}
