.emotions {
  margin: 20px 6.25% 10px 6.25%;

  legend {
    margin-bottom: 20px;
  }
}

.emotions__textarea {
  display: block;
  padding: 10px 25px 0 21px;
  width: 100%;
  height: 160px;
  box-sizing: border-box;
  font-size: @main-font-size;
  font-weight: bold;
  font-family: "PT Sans", "Arial", sans-serif;
  color: @title-color;
  background-color: @background-color-grey-form;
  border: 4px solid @background-color-grey-form;
  resize: none;

  &::placeholder {
    font-size: @main-font-size;
    font-weight: bold;
    color: @title-color;
  }

  &:hover {
    background-color: @background-color-grey-form-hover;
    border: 4px solid @background-color-grey-form-hover;
  }

  &:focus {
    background-color: @text-color-reverse;
    border: 4px solid @text-color-grey;
    outline: none;
  }
}

@media (min-width: @tablet-width) {
  .emotions {
    margin: 30px 7.8% 30px 7.8%;

    legend {
      margin-bottom: 60px;
    }
  }
}

@media (min-width: @desktop-width) {
  .emotions {
    margin: 27px 10% 27px 10%;

    legend {
      margin-bottom: 60px;
    }
  }
}
