.features {
  text-transform: uppercase;
}

.features__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  margin: 0;
  margin-top: 41px;
  list-style: none;
}

.features__item {
  margin-bottom: 30px;
  margin-left: 30px;
}

.features__item--house {
  .features__title {
    position: relative;
  }
}

.features__title {
  position: relative;
  margin: 0;
  padding-bottom: 17px;
  font-size: @main-font-size;
  line-height: @big-line-height;
  font-weight: bold;
  color: @title-color;
}

.features__icon {
  position: absolute;
  bottom: 15px;
  fill: @main-color;

  &--house {
    left: -45px;
    width: 37px;
    height: 36px;
  }

  &--souvenirs {
    left: -45px;
    width: 32px;
    height: 38px;
  }

  &--food {
    left: -50px;
    width: 40px;
    height: 35px;
  }
}

.features__description {
  width: 210px;
  margin: 0;
  padding: 0;
  font-size: @small-font-size;
  line-height: @small-line-height;
  color: @text-color;
}

@media (min-width: @tablet-width) {
  .features__item {
    width: 33.3%;
    margin: 0 auto;
    margin-bottom: 60px;
  }

  .features__list {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 0;
    margin-top: 151px;
  }

  .features__title {
    padding-bottom: 30px;
    font-size: @medium-font-size;
    text-align: center;
  }

  .features__icon {
    position: absolute;
    bottom: 85px;
    left: 90px;
    fill: @main-color;

    &--house {
      width: 75px;
      height: 72px;
    }

    &--souvenirs {
      width: 64px;
      height: 75px;
      left: 95px;
    }

    &--food {
      width: 77px;
      height: 68px;
    }
  }

  .features__description {
    max-width: 163px;
    text-align: center;
    margin: 0 auto;
  }

  .features__item--souvenirs {
    order: 1;
  }
}

@media (min-width: @desktop-width) {
  .features {
    width: 1200px;
    margin: 0 auto;
  }

  .features__item {
    width: 33.3%;
    margin: 0 auto;
    margin-bottom: 80px;
  }

  .features__list {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    margin-top: 162px;
  }

  .features__title {
    padding-bottom: 20px;
    font-size: @medium-font-size;
    text-align: center;
  }

  .features__icon {
    position: absolute;
    bottom: 85px;
    left: 165px;
    fill: @main-color;
  }

  .features__description {
    max-width: 100%;
    width: 283px;
  }
}
