.features {
  text-transform: uppercase;

  .features__item {
    margin-bottom: 40px;
    margin-left: 69px;
  }

  .features__item--house {
    .features__title {
      position: relative;
    }
  }

  /*
    .features__icon {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      z-index: 10;
    }
  }
*/

  .features__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    margin: 0;
    margin-top: 41px;
    list-style: none;
  }

  .features__title {
    margin: 0;
    padding-bottom: 17px;
    font-size: @main-font-size;
    line-height: @big-line-height;
    font-weight: bold;
    color: @title-color;
  }

  .features__description {
    width: 210px;
    margin: 0;
    padding: 0;
    font-size: @small-font-size;
    line-height: @small-line-height;
    color: @text-color;
  }
}

@media (min-width: @tablet-width) {
  .features {
    .features__item {
      margin: 0;
      margin-bottom: 66px;
    }

    .features__list {
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      margin: 0;
      margin-top: 160px;
    }

    .features__title {
      padding-bottom: 30px;
      font-size: @medium-font-size;
      text-align: center;
    }

    .features__description {
      width: 163px;
      text-align: center;
    }
  }

  .features__item--souvenirs {
    order: 1;
  }
}

@media (min-width: @desktop-width) {
  .features {
    .features__item {
      margin: 0;
    }

    .features__list {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      margin: 160px 93px 66px 73px;
    }

    .features__title {
      padding-bottom: 30px;
      font-size: @medium-font-size;
      text-align: center;
    }

    .features__description {
      width: 163px;
      text-align: center;
    }
  }

  .features__item--souvenirs {
    order: 1;
  }
}
