.feedback {
  display: flex;
  flex-direction: column;
  font-size: @small-font-size;
  line-height: @big-line-height;
}

.feedback__container:not(:last-child) {
  border-top: 1px solid @text-color-grey;
}

.feedback__item {
  margin: 13px 6.25% 25px 6.25%;
  padding: 0;
  border: none;

  legend {
    margin: 0 auto;
    align-self: center;
    margin-bottom: 25px;
    text-align: center;
    font-size: @main-font-size;
    line-height: @big-line-height;
    font-weight: bold;
    text-transform: uppercase;
  }
}

.feedback__item--submit {
  margin: 36px 6.25%;
}

.feedback__button {
  min-height: 58px;
  width: 100%;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: @medium-font-size;
  line-height: @big-line-height;
  font-weight: bold;
  text-decoration: none;
  color: @text-color-reverse;
  background-color: @background-color-blue;
  cursor: pointer;
  border: none;

  &:hover {
    background-color: @main-color-hover;
  }

  &:active {
    background-color: @main-color-active;
    color: rgba(255, 255, 255, 0.3);
  }

  &:disabled {
    background-color: #e5e5e5;
  }
}

.feedback__footnote {
  display: none;
}

@media (min-width: @tablet-width) {
  .feedback {
    flex-direction: row;
    align-items: baseline;
    flex-wrap: wrap;
    position: relative;
    margin: 0;
    margin-bottom: 30px;
    padding: 0;

    &::after {
      content: "";
      position: absolute;
      top: 35px;
      right: 50%;
      width: 1px;
      height: 295px;
      background-color: #e5e5e5;
    }
  }

  .feedback__container:not(:last-child) {
    border: none;
  }

  .feedback__container:nth-child(1) {
    order: 2;
    width: 50%;
  }

  .feedback__container:nth-child(2) {
    order: 3;
    width: 100%;
  }

  .feedback__container:nth-child(3) {
    order: 1;
    width: 50%;
  }

  .feedback__container:nth-child(4) {
    order: 4;
    width: 100%;
  }

  .feedback__container:nth-child(5) {
    order: 5;
    width: 100%;
    position: relative;

    legend {
      &::before {
        content: "";
        position: absolute;
        top: 45px;
        left: 7.8%;
        width: 125px;
        height: 1px;
        background-color: #e5e5e5;
      }

      &::after {
        content: "";
        position: absolute;
        top: 45px;
        right: 7.8%;
        width: 125px;
        height: 1px;
        background-color: #e5e5e5;
      }
    }
  }

  .feedback__container:nth-child(6) {
    order: 6;
    width: 100%;
    position: relative;
  }

  .feedback__item {
    margin: 30px 7.8% 30px 7.8%;

    legend {
      margin-bottom: 60px;
      font-size: @medium-font-size;
      line-height: @big-line-height;
    }
  }

  .feedback__item--submit {
    margin-top: 25px;
  }

  .feedback__container:nth-child(2),
  .feedback__container:nth-child(4) {
    position: relative;

    legend {
      &::before {
        content: "";
        position: absolute;
        top: 55px;
        left: 7.8%;
        width: 125px;
        height: 1px;
        background-color: #e5e5e5;
      }

      &::after {
        content: "";
        position: absolute;
        top: 55px;
        right: 7.8%;
        width: 125px;
        height: 1px;
        background-color: #e5e5e5;
      }
    }
  }

  .feedback__button {
    width: 50%;
  }

  .feedback__footnote {
    display: flex;
    top: 30px;
    right: 7.8%;
    position: absolute;
    font-size: @small-font-size;
    line-height: @big-line-height;
    text-transform: uppercase;
  }
}

@media (min-width: @desktop-width) {
  .feedback {
    max-width: 1200px;
    margin: 0 auto;
  }

  .feedback__item {
    margin: 30px 10% 30px 10%;
  }

  .feedback__item--submit {
    margin-bottom: 63px;
  }

  .feedback__container:nth-child(2),
  .feedback__container:nth-child(4),
  .feedback__container:nth-child(5) {
    position: relative;

    legend {
      &::before {
        width: 280px;
        left: 10%;
      }

      &::after {
        width: 280px;
        right: 10%;
      }
    }
  }

  .feedback__footnote {
    right: 10%;
  }
}
