.impressions {
  margin: 23px 6.25% 10px 6.25%;
}

.impressions__group {
  &:not(:last-child) {
    margin-bottom: 45px;
  }

  &:first-child {
    margin-top: 10px;
  }

  &:last-child {
    margin-bottom: 30px;
  }
}

.impressions__label {
  position: relative;
  padding-left: 78px;
  font-size: @main-font-size;
  line-height: @big-line-height;
  font-weight: bold;
  cursor: pointer;
}

input[type="radio"]:checked,
input[type="radio"]:not(:checked) {
  position: absolute;
  left: -9999px;
}

.impressions__input--radio + label::before {
  content: "";
  position: absolute;
  top: -16px;
  left: 0;
  width: 46px;
  height: 46px;
  background-color: @background-color-grey-form;
  border: 5px solid @background-color-grey-form;
  border-radius: 50%;
}

.impressions__input--radio:hover + label::before {
  background-color: @background-color-grey-form-hover;
  border-color: @background-color-grey-form-hover;
}

.impressions__input--radio:disabled + label::before {
  background-color: @background-color-grey-form-active;
  border-color: @background-color-grey-form-active;
}

.impressions__input--radio:checked + label::before {
  content: "";
  position: absolute;
  top: -16px;
  left: 0;
  width: 22px;
  height: 22px;
  background-color: @text-color;
  border: 18px solid @background-color-grey-form;
  border-radius: 50%;
}

.impressions__input--radio:checked:hover + label::before {
  background-color: @text-color;
  border: 18px solid @background-color-grey-form-hover;
}

.impressions__input--radio:checked:disabled + label::before {
  background-color: rgba(51, 51, 51, 0.5);
  border: 18px solid @background-color-grey-form-active;
}

.impressions__input--radio:focus + label::before {
  background-color: @background-color-grey-form-hover;
  border-color: @background-color-grey-form-hover;
}

@media (min-width: @tablet-width) {
  .impressions {
    margin-top: 0;
    margin-left: 15%;

    legend {
      text-align: left;
      margin-left: 0;
      margin-bottom: 55px;
    }
  }

  .impressions__group {
    &:not(:last-child) {
      margin-bottom: 50px;
    }

    &:first-child {
      margin-top: 18px;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}

@media (min-width: @desktop-width) {
  .impressions {
    margin-left: 20%;

    legend {
      margin-left: 75px;
    }
  }
}
