.introduction {
  width: auto;
  margin: 0 auto;
  text-transform: uppercase;

  .introduction__picture {
    position: relative;
    background-image: url("../img/bg-back-mobile@1x.jpg");
    height: 158px;
    background-position: center 100%;
    background-size: auto 389px;
    background-repeat: no-repeat;
    background-color: #715f57;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/bg-back-mobile@2x.jpg");
    }

    img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    &::before {
      content: "";
      position: absolute;
      background-image: url("../img/bg-intro-triangle-desktop.svg");
      background-repeat: no-repeat;
      background-position: 50% 0;
      width: 100%;
      height: 100%;
      top: 101px;
    }

    &--index {
      min-height: 389px;
      background-size: auto 389px;
      background-position: center 0;

      &::before {
        content: "";
        position: absolute;
        background-image: url("../img/bg-intro-triangle-desktop.svg");
        background-repeat: no-repeat;
        width: 100%;
        height: 100%;
        top: 332px;
      }

      &::after {
        content: "";
        position: absolute;
        background-image: url("../img/bg-triangle.svg");
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        height: 37px;
        bottom: -240px;
        right: 0;
      }
    }
  }
}

.introduction__title {
  margin: 0 auto;
  margin-top: 40px;
  max-width: 280px;
  text-align: center;
  font-size: @main-font-size;
  line-height: @big-line-height;
  font-weight: bold;
}

.introduction__description {
  max-width: 280px;
  margin: 0 auto;
  margin-top: 25px;
  margin-bottom: 20px;
  text-align: center;
  font-size: @small-font-size;
  line-height: @medium-line-height;
}

@media (min-width: @tablet-width) {
  .introduction {
    width: auto;

    .introduction__picture {
      min-height: 290px;
      background-image: url("../img/bg-back-tablet@1x.jpg");
      background-size: cover;
      background-position: center 100%;

      @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
        background-image: url("../img/bg-back-tablet@2x.jpg");
      }

      img {
        width: 460px;
        top: 45%;
      }

      &::before {
        top: 233px;
      }

      &--index {
        min-height: 518px;
        background-image: url("../img/bg-back-tablet@1x.jpg");
        background-position: 50% 100%;
        background-size: auto 518px;

        @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
          background-image: url("../img/bg-back-tablet@2x.jpg");
        }

        img {
          width: 460px;
          top: 49%;
        }

        &::before {
          top: 461px;
        }

        &::after {
          content: none;
        }
      }
    }
  }

  .introduction__title {
    max-width: 490px;
    margin: 0 auto;
    margin-top: 76px;
    margin-bottom: 28px;
    font-size: @big-tablet-font-size;

    &--index {
      margin: 0 auto;
      margin-top: 50px;
      margin-bottom: 30px;
      font-size: @medium-font-size;
    }
  }

  .introduction__description {
    max-width: 490px;
    margin: 0 auto;
    margin-bottom: 45px;

    &--index {
      width: 700px;
      margin: 0 auto;
      margin-bottom: 50px;
    }
  }
}

@media (min-width: 769px) {
  .introduction {
    .introduction__picture {
      min-height: 290px;
      background-image: url("../img/bg-back-desktop@1x.jpg");
      background-size: 1200px auto;

      @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
        background-image: url("../img/bg-back-desktop@2x.jpg");
      }

      &--index {
        min-height: 518px;
        background-image: url("../img/bg-back-desktop@1x.jpg");
        background-position: 50% 100%;
        background-size: auto 518px;

        @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
          background-image: url("../img/bg-back-desktop@2x.jpg");
        }
      }
    }
  }
}

@media (min-width: @desktop-width) {
  .introduction {
    width: @desktop-width;

    .introduction__picture {
      min-height: 300px;

      &::before {
        top: 243px;
      }

      &--index {
        min-height: 518px;

        &::before {
          top: 461px;
        }
      }
    }
  }

  .introduction__title {
    margin: 0 auto;
    margin-top: 110px;
    margin-bottom: 33px;
    font-size: @big-tablet-font-size;

    &--index {
      width: 490px;
      margin: 0 auto;
      margin-top: 50px;
      margin-bottom: 30px;
      font-size: @medium-font-size;
    }
  }

  .introduction__description {
    margin: 0 auto;
    margin-bottom: 60px;

    &--index {
      width: 490px;
      margin: 0 auto;
      margin-bottom: 50px;
    }
  }
}
