.main-nav {
  width: 320px;
  margin: 0 auto;
  position: relative;
  margin-bottom: 56px;

  .main-nav__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: @main-font-size;
    line-height: 2.22;
    font-weight: bold;
    text-transform: uppercase;
    color: @text-color-reverse;
    background-color: @background-color-blue;

    a {
      text-decoration: none;
      color: @text-color-reverse;
    }
  }

  .main-nav__toggle {
    position: absolute;
    top: 170px;
    right: 20px;
    z-index: 2;
    width: 23px;
    height: 2px;
    display: block;
    cursor: pointer;
    border: none;
    background-color: @main-color;
  }

  .main-nav__logo {
    position: absolute;
    right: 110px;
    width: 102px;
    height: 83px;
    z-index: 1;
  }
}

@media (min-width: @tablet-width) {
  .main-nav {
    width: @tablet-width;
    margin-bottom: 0;

    .main-nav__wrapper {
      display: flex;
      justify-content: space-between;
      width: auto;
    }

    .main-nav__list {
      min-width: @tablet-width;
      min-height: 56px;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      font-size: @small-font-size;
      line-height: 1.85;
      background-color: #ffffff;

      a {
        color: @text-color;
      }
    }

    .main-nav__toggle {
      display: none;
    }

    .main-nav__logo {
      right: 333px;
      top: 0;
    }
  }
}

@media (min-width: @desktop-width) {
  .main-nav {
    width: @desktop-width;

    .main-nav__list {
      min-width: @desktop-width;
    }

    .main-nav__logo {
      left: 505px;
      top: 0;
    }
  }
}
