.main-nav {
  position: relative;
  width: auto;
  margin-bottom: 56px;
}

.main-nav__toggle {
  position: absolute;
  z-index: 2;
  display: block;
  width: 23px;
  height: 20px;
  cursor: pointer;
  border: none;
  background-color: #ffffff;
}

.main-nav__logo {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 102px;
  height: 83px;
  z-index: 1;
}

.main-nav--closed .main-nav__toggle::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 23px;
  height: 4px;
  background-color: @main-color;
  box-shadow: 0 8px 0 0 @main-color, 0 16px 0 0 @main-color;
}

.main-nav--opened .main-nav__toggle {
  top: 15px;
  right: 20px;
  left: auto;
  background-color: @main-color;

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 10px;
    right: 0;
    width: 26px;
    height: 4px;
    background-color: #ffffff;
  }

  &::before {
    transform: rotate(45deg);
    box-shadow: none;
  }

  &::after {
    transform: rotate(-45deg);
  }

  &:active::before,
  &:active::after {
    background-color: rgba(255, 255, 255, 0.3);
  }
}

@media (max-width: @mobile-width-only) {
  .main-nav--closed {
    .site-list__item {
      display: none;
    }

    .main-nav__toggle {
      bottom: 20px;
      right: 20px;
    }

    .main-nav__logo {
      bottom: -27px;
    }
  }

  .main-nav--opened {
    .main-nav__logo {
      bottom: -83px;
    }
  }

  .main-nav--nojs {
    .main-nav__toggle {
      display: none;
    }

    .main-nav__wrapper {
      position: static;
    }

    .site-list__item {
      display: block;
    }

    .main-nav__logo {
      bottom: -83px;
    }
  }
}

@media (min-width: @tablet-width) {
  .main-nav {
    width: 100%;
    margin-bottom: 0;
  }

  .main-nav__toggle {
    display: none;
  }

  .main-nav__logo {
    top: 0;
  }
}

@media (min-width: @desktop-width) {
  .main-nav {
    width: @desktop-width;
    margin: 0 auto;
  }

  .main-nav__toggle {
    display: none;
  }

  .main-nav__logo {
    width: 187px;
    height: 97px;
  }
}
