.page-footer {
  margin: 0 auto;
  margin-top: 41px;
  margin-bottom: 23px;
  font-size: @big-font-size;
  line-height: @big-line-height;
  font-weight: bold;
}

.page-footer__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.page-footer__hashtag {
  padding: 0;
  text-decoration: none;
  font-size: @medium-font-size;
  color: @title-color;
}

.page-footer__copyright {
  a {
    position: relative;
    padding: 0;
    padding-right: 35px;
    font-size: @small-font-size;
    font-weight: normal;
    text-transform: uppercase;
    text-decoration: none;
    color: @text-color;
  }

  svg {
    position: absolute;
    left: 100px;
  }
}

@media (min-width: @tablet-width) {
  .page-footer {
    margin: 0 auto;
    padding: 0;
    width: @tablet-width;
  }

  .page-footer__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 36px 96px 36px 60px;
  }

  .page-footer__hashtag {
    padding: 0;
    padding-right: 112px;
  }

  .page-footer__copyright {
    a {
      padding: 0;
      padding-left: 120px;
    }

    svg {
      left: 220px;
    }
  }
}

@media (min-width: @desktop-width) {
  .page-footer {
    margin: 0 auto;
    padding: 0;
    width: @desktop-width;
  }

  .page-footer__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 51px 158px 53px 119px;
  }

  .page-footer__hashtag {
    padding: 0;
    padding-right: 269px;
  }

  .page-footer__copyright {
    a {
      padding: 0;
      padding-left: 276px;
    }

    svg {
      left: 376px;
    }
  }
}
