.page-footer {
  width: 320px;
  margin: 0 auto;
  margin-top: 41px;
  font-size: @big-font-size;
  line-height: 1.23;
  font-weight: bold;
}

.page-footer__hashtag {
  text-decoration: none;
  color: @title-color;
}
