.posts {
  position: relative;
  border-bottom: 1px solid @text-color-grey;
}

.posts__list {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  list-style: none;
}

@media (min-width: @tablet-width) {
  .posts {
    margin: 0 auto;
    width: auto;
    max-width: 960px;
    border: none;
  }

  .posts__list {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .posts__wrapper {
    margin: 70px 7.8% 0 7.8%;
  }
}

@media (min-width: @desktop-width) {
  .posts {
    max-width: @desktop-width;
  }

  .posts__wrapper {
    margin: 0;
  }
}
