.posts__item {
  padding: 22px 0;
  border-top: 1px solid @text-color-grey;
}

.post__photo {
  margin: 0;
  padding: 0;
}

.post__title {
  margin: 0;
  padding: 0;
  padding-top: 22px;
  font-size: @small-font-size;
  line-height: 1.7;
  font-weight: bold;
  text-transform: uppercase;
}

.post__user-name {
  margin: 0;
  padding: 0;
  padding-top: 19px;
  font-size: @small-font-size;
  line-height: 1.7;
  color: @text-color;
}

.post__likes {
  margin: 0;
  padding: 0;
  padding-top: 19px;
  font-size: @small-font-size;
  line-height: 1.7;
  font-weight: bold;
}
