.represent__wrapper {
  display: flex;
  flex-direction: column;
}

.represent__label {
  text-transform: uppercase;
  margin-right: 14px;
}

.represent__group {
  display: flex;
  align-items: baseline;

  &:last-child {
    input {
      margin: 0;
    }
  }
}

.represent__input {
  flex-grow: 1;
  margin-bottom: 20px;
  padding-left: 18px;
  height: 58px;
  width: 100%;
  box-sizing: border-box;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: @main-font-size;
  font-weight: bold;
  color: @title-color;
  background-color: @background-color-grey-form;
  border: 4px solid @background-color-grey-form;

  &::placeholder {
    font-size: @main-font-size;
    font-weight: bold;
    color: @title-color;
  }

  &:hover {
    background-color: @background-color-grey-form-hover;
    border: 4px solid @background-color-grey-form-hover;
  }

  &:focus {
    font-size: @main-font-size;
    font-weight: bold;
    background-color: @text-color-reverse;
    border: 4px solid @text-color-grey;
    outline: none;
  }
}

@media (min-width: @tablet-width) {
  .represent {
    margin-right: 15%;
    margin-left: 60px;

    legend {
      text-align: left;
    }
  }
}

@media (min-width: @desktop-width) {
  .represent {
    margin-top: 0;
    margin-right: 20%;
    margin-left: 79px;
  }
}
