.sights {
  margin: 20px 6.25% 20px 6.25%;

  legend {
    margin-bottom: 20px;
  }
}

.sights__group {
  &:not(:last-child) {
    margin-bottom: 53px;
  }

  &:first-child {
    margin-top: 7px;
  }

  &:last-child {
    margin-bottom: 19px;
  }
}

.sights__label {
  position: relative;
  padding-left: 78px;
  font-size: @main-font-size;
  line-height: @big-line-height;
  font-weight: bold;
  cursor: pointer;
}

input[type="checkbox"]:checked,
input[type="checkbox"]:not(:checked) {
  position: absolute;
  left: -9999px;
}

.sights__input--checkbox + label::before {
  content: "";
  position: absolute;
  top: -16px;
  left: 0;
  width: 55px;
  height: 55px;
  background-color: @background-color-grey-form;
  border-radius: 10%;
}

.sights__input--checkbox:hover + label::before {
  background-color: @background-color-grey-form-hover;
}

.sights__input--checkbox:disabled + label::before {
  background-color: @background-color-grey-form-active;
}

.sights__input--checkbox:checked + label::before {
  content: "";
  position: absolute;
  top: -16px;
  left: 0;
  width: 55px;
  height: 55px;
  background-color: @background-color-grey-form;
  border-radius: 10%;
  background-image: url("../img/icon-tick.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.sights__input--checkbox:checked:hover + label::before {
  background-color: @background-color-grey-form-hover;
}

.sights__input--checkbox:checked:disabled + label::before {
  background-color: rgba(50, 50, 50, 0.5);
  opacity: 0.5;
}

@media (min-width: @tablet-width) {
  .sights {
    margin: 30px 7.8% 20px 7.8%;

    legend {
      margin-bottom: 50px;
    }
  }

  .sights__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: baseline;
    flex-wrap: wrap;
    margin: 0 10%;
  }

  .sights__group {
    margin: 0;
    width: 40%;

    &:nth-child(1),
    &:nth-child(2) {
      margin-bottom: 60px;
    }

    &:nth-child(3),
    &:nth-child(4) {
      margin: 0;
      margin-bottom: 33px;
    }
  }

  .sights__label {
    padding-left: 80px;
  }
}

@media (min-width: @desktop-width) {
  .sights {
    margin: 40px 10% 50px 10%;

    legend {
      margin-bottom: 45px;
    }
  }

  .sights__wrapper {
    justify-content: space-between;
    margin: 0;
  }

  .sights__group {
    width: 21%;
    margin: 0;

    &:nth-child(1),
    &:nth-child(2) {
      margin-bottom: 0;
    }

    &:nth-child(3),
    &:nth-child(4) {
      margin-bottom: 0;
    }
  }

  .sights__label {
    padding-left: 80px;
  }
}
