.socials__list {
  display: flex;
  justify-content: space-around;
  margin: 0;
  padding: 35px 84px 40px 82px;
  list-style: none;
}

.socials__item {
  margin-right: 6px;

  &:last-child {
    margin-right: 0;
  }
}

.socials__link {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 46px;
  height: 48px;
  background-color: @main-color;
  cursor: pointer;

  svg {
    fill: @text-color-reverse;
  }

  &:hover {
    background-color: @main-color-hover;
  }

  &:active {
    background-color: @main-color-active;
  }

  &:active svg {
    fill: rgba(255, 255, 255, 0.3);
  }
}

@media (min-width: @tablet-width) {
  .socials__list {
    margin: 0;
    padding: 0;
  }
}
